tenancy_ocid        = "ocid1.tenancy.oc1...."
user_ocid           = "ocid1.user.oc1...."
fingerprint         = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path    = "/home/cloudshell-user/.oci/oci_api_key.pem"
region              = "ap-hyderabad-1"
compartment_ocid    = "ocid1.compartment.oc1...."
ssh_public_key_path = "/home/cloudshell-user/.ssh/id_rsa.pub"